*{
    margin: 0;
    padding: 0;
}

/*CONTAINER SIMILI REGOLE*/
.container-small{
    width: 40px;
    height: 40px;
}

.container-medium{
    width: 60px;
    height: 60px;
}

.container-big{
    width: 300px;
    height: 300px;
}

.container-extra-big{
    width: 900px;
    height: 600px;
}

.absolute{
    position: absolute;
}

.absolute-middle{
    left: 33%;
    margin-left: 4px;
}

.relative{
    position: relative;
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.blue{
    background-color: blue;
}

/*CONTAINER FISSO A DESTRA*/
.container-1{
    width: 100px;
    height: 100px;
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
}

/*CONTAINER 2*/

.container-2{
    position: relative;
    width: 300px;
    height: 200px;
    margin-bottom: 20px;
}

.container-2-left{
    position: absolute;
    top: 0;
    left: 0;
}

.container-2-right-bottom{
    position: absolute;
    bottom: 0;
    left: 100%;
}

/*CONTAINER 3*/
.es-3{
    position: relative;
    margin-bottom: 20px;
}

.container-3-top-left{
    position: absolute;
    top: 0;
    left: 0;
}

.container-3-right-top{
    position: absolute;
    top: 0;
    right: 0;
}

.container-3-right-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}

.container-3-right{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.es-3 .green{
    right: 50%;
    bottom: 50%;
}

/*CONTAINER4*/
.es-4{
    font-size: 0;
}

.es-4 .container-big{
    display: inline-block;
}

.es-4 .container-medium:last-child{
    left: 10px;
}



